$gray-efe: #EFEFF4 !default;
$mintgreen: #08B292 !default;

$font-size-root: 16px !default;

$font-size-base: 1rem !default;
$font-size-lg: 1.25rem !default;
$font-size-sm: .85rem !default;
$font-size-xs: .75rem !default;